html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow";
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.split-plane-right-container {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  width: 100%;
  background-color: rgb(230, 230, 230);
}

.App,
#__next {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}






@import "../styles/index.css";
@import "../styles/App.css";