html,
body {
  padding: 0;
  margin: 0;
}

.App {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.split-pane-col {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.split-pane-row {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.split-pane-top,
.split-pane-bottom,
.split-pane-right {
  flex: 1;
  overflow: hidden;
}

.split-pane-left {
  min-width: 50%;
  flex: 2 2 60%;
  overflow: hidden;
}


.split-pane-right {
  background-color: #fff;
  background-image: linear-gradient(90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

.split-pane-top,
.split-pane-bottom {
  text-align: left;
  padding: 2%;
}

.separator-col {
  border: 2px solid black;
  cursor: col-resize;
}

.separator-row {
  border: 2px solid black;
  cursor: row-resize;
}

ul {
  margin-left: -2%;
}

ul li {
  margin: 1rem;
  list-style-type: square;
}

ul a {
  text-decoration: none;
  color: darkblue;
  font-size: large;
}

ul a:hover {
  color: black;
}

.quote span {
  font-weight: bold;
}

header {
  padding: 1rem 0;
  font-weight: bold;
  font-size: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  height: 100px;
}

.main-content {
  margin-top: 2rem;
}

/* Product */

.product {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem 0;
  padding: 10px 30px;
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  
}

.product-priceAndInput {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}

.product-detail {
  font-size: 100%;
  padding: 0 2rem;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}


.product-price {
  font-size: 70%;
  margin: 10px;
}

/* Product expanded view */
.productExpanded {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem 0;
  flex-wrap: wrap;
  padding: 10px 30px; 
  margin-left: 20px;
  margin-right: 20px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.productExpanded-images {
  display: grid;
  grid-template-rows: auto auto;
  max-height: 200px;
  margin: 20px;
}

.productExpanded-images-small {
  display: grid;
  grid-template-columns: auto auto auto;
}

.productExpanded-information {
  margin: 20px;
}

.productExpanded-detail {
  font-size: 100%;
  text-align: left;
}

.productExpanded-description {
  font-size: 70%;
  text-align: left;
}

.productExpanded-items {
  overflow-y: scroll;
  font-size: 100%;
  padding: 1rem 0;
  margin: 20px;
  max-height: 400px;
  min-width: 200px;
}

.productExpanded-items-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 60%;
  padding: 0 2rem;
  display: grid;
  gap: 10px;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto auto auto auto;
  align-items: center;
  justify-content: space-between;


}

.productExpanded-items-details-price {
  align-items: center;
  flex-wrap: wrap;
}

.input {
  width: 25px;
  height: 25px;
}

